.taskListForDashboard {
    background-color: var(--surface);
}

.DashboardPage {
    height: 100%;
    background-color: var(--surface-container-low);
    box-sizing: border-box;
}

.dashboardViewAll {
    text-decoration: underline;
    color: var(--on-primary-fixed-variant);
    font-size: 14px;
    background-color: var(--surface);
    cursor: pointer;
}

.taskListDashboardheader {
    border-bottom: 1px var(--outline) solid;
}

.taskDisplayDashP {
    font-size: 14px;
}

.InformationBoxDash {
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    background-color: var(--border-subtle);
    font-size: 12px;
    font-weight: 500;
    padding: 8px 12px;
}

.upcomingListForDashboard {
    background-color: var(--surface);
}