.GoalPage {
  height: 100vh;
  background-color: var(--surface-container-low);
  box-sizing: border-box;
}

.goalPageTopP {
  color: var(--text-secondary);
}

.AddGoalForm {
  background-color: var(--surface);
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
}

.GoalCard {
  background-color: var(--surface);
}

.goalCardTag {
  font-size: small;
  padding: 4px 8px;
  background-color: var(--surface-container-low);
}

.goalTitle {
  font-size: 20px;
  font-weight: 600;
}

.goalGrids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.goalProgressBar {
  background-color: var(--surface-container-low);
}

.bar-sspec {
  width: 100%;
  background: #2d2d2d;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.updateProgressButton {
  padding: 4px 8px;
  font-weight: 550;
  cursor: pointer;
  background-color: var(--secondary-container);
  color: var(--on-secondary-fixed);
}

.updateProgressForm {
  width: 600px;
  box-sizing: border-box;
}

.upperUpdateProgress {
  width: 100%;
  box-sizing: border-box;
}

.updateProgressOnClickBtn {
  padding: 4px 8px;
  background-color: var(--secondary-fixed-dim);
  width: 35%;
  margin-bottom: 12px;
}