.NotificationTopBar {
    border-bottom: 2px var(--surface-container-highest) solid;
}

.NotificationProp {
    background-color: var(--surface);
    border: 2px var(--outline) solid;
}

.NotificationRest {
    width: 100%;
    box-sizing: border-box;
}

.NotificationPage {
    height: 100%;
    background-color: var(--surface-container-low);
    box-sizing: border-box;
}

.UpperLook {
    width: 100%;
}

.LogoNotification {
    height: 24px;
    width: 24px;
    font-size: 24px;
    border-radius: 50%;
    background-color: var(--surface-container-low);
}

.notificationBox {
    margin: 12px;
    box-sizing: border-box;
    overflow-y: auto;
}

.eventDateCalendar {
    width: 30%;
}

.deleteNotificationBtn {
    background-color: transparent;
    font-size: large;
    display: visible;
    opacity: 0;
    cursor: pointer;
}

.NotificationProp:hover {
    .deleteNotificationBtn {
        display: visible;
        opacity: 1;
    }
}